<?xml version="1.0"?>
<config>
    <modules>
        <Icube_Sociallink>
            <version>0.1.0</version>
        </Icube_Sociallink>
    </modules>
    <global>
	    <blocks>
            <sociallink>
                <class>Icube_Sociallink_Block</class>
            </sociallink>
        </blocks>
	    <helpers>
            <sociallink>
                <class>Icube_Sociallink_Helper</class>
            </sociallink>
        </helpers>
        <models>
	        <sociallink>
                <class>Icube_Sociallink_Model</class>
                <resourceModel>sociallink_resource</resourceModel>
            </sociallink>
            <sociallink_resource>
                <class>Icube_Sociallink_Model_Resource</class>
                <entities>
                    <sociallink>
                        <table>icube_sociallink</table>
                    </sociallink>
                </entities>
            </sociallink_resource>
        </models>
        <resources>
            <icube_sociallink_setup>
                <setup>
                    <module>Icube_Sociallink</module>
                </setup>
            </icube_sociallink_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Icube_Sociallink before="Mage_Adminhtml">Icube_Sociallink_Adminhtml</Icube_Sociallink>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
	    <events>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <add_massaction_product_grid>
                        <class>sociallink/observer</class>
                        <type>singleton</type>
                        <method>addMassAction</method>
                    </add_massaction_product_grid>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
        </events>
    </adminhtml>
</config>